/*===========================
  BRAND css 
===========================*/
@media (max-width: 767px) {
  .brand-logo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.single-logo {
  padding: 15px 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-logo {
    padding: 15px 15px;
  }
}

@media (max-width: 767px) {
  .single-logo {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .single-logo {
    width: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-logo {
    width: 33.33%;
  }
}

.single-logo img {
  max-width: 100%;
  -webkit-filter: grayscale(5);
          filter: grayscale(5);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-logo:hover img {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}
